:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #00B4CC;
  --secondary-color: #008C9E;
  --terciary-color: #005F6B;
  --background-color: #343838;
  --light-color: #00DFFC;
  --white: #C8DADC;
  --dark: #131414;
  --light-gray: #AFB7B8;
  --dark-gray: #606465;
  --danger: #E92525;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}
